
/* IMPORT CSS (No :HAS)*/
@import url('https://davart154.github.io/Themes/Snippets/Mana%20Page%20Switcher/ManaPageSwitcherSource.css');
@import url('https://raw.githubusercontent.com/moonself/Vencord-Repos/refs/heads/main/Full%20Role%20Pills');

/* UI CLEANUP – REMOVE UNWANTED STUFF */
/* Remove certain message actions for a cleaner UI */
[aria-label*="Create Thread"], /* Hides thread creation button */
[aria-label*="Mark Unread"], /* Hides "Mark as Unread" button */
[aria-label*="Copy Link"], /* Hides the option to copy message link */
[aria-label*="Pin Message"], /* Hides the pin message button */
[aria-label*="Copy Message ID"],
[aria-label*="Open Translate Modal"] { /* Hides message ID copy option */
  display: none;
}


/* Snippets Remove / Hide unnecessary things */
.addButtonIcon__29444,
 .actionIcon_c69b6d,
 invitesRefresh_f37cb1 .inviteButton_f37cb1,
 .inviteButton_f37cb1,
 .avatarPopover__2d0ab,
 .app-launcher-entrypoint,
 .wrapper_f563df,
 .nowPlayingColumn__133bf {
  display: none;
 }


/* Image Spoiler */
:root {
    --spoiler-blur-hover: 8px;
}
[class*="attachmentContainer_"][class*="spoilerContent_"] {
    background-color: unset;
    &[class*="hiddenSpoiler_"] {
        > [class*="spoilerWarning_"] {
            transition: opacity 50ms ease;
        }
        [class*="imageContent_"] {
            filter: none !important;
            [class*="imageWrapper_"] > [class*="clickableWrapper_"] {
                filter: blur(var(--custom-message-attachment-spoiler-blur-radius));
                transition: filter 80ms ease-out;
            }
        }
        &:hover {
            > [class*="spoilerWarning_"] {
                opacity: 0.2;
            }
            [class*="imageWrapper_"] > [class*="clickableWrapper_"] {
                filter: blur(var(--spoiler-blur-hover));
            }
        }
    }
}


/* Remove Reaction Right-Click Menu */
.menu_c1e9c4[id="message"]>.scroller_c1e9c4>.wrapper_f563df{display:none;}

/* Remoove Activity Member List*/
[class*='membersGroup']:has([role=button]), /* Hides member group with buttons */
[class*='member'] [class*='container']:has([class*='badges']) { /* Hides member containers with badges */
  display: none;
}

/* Fix Bottom Profile */
.inner_c0bea0 {
    padding-bottom: 48px;
}
.profile__9c3be {
    border-radius: var(--radius-lg);
}
.user-profile-sidebar .inner_c0bea0 {
    padding-bottom: 0 !important;
}

/* Remove Quests on UserPanel */
section[class^="panels_"]>div[class^="mask_"] {
  display: none;
}

/* Compact Forum */
/* pashtet_iv */
.container__5b40b .link__2ea32 {
padding-top: 0px !important;
padding-bottom: 0px !important;
}

/* revert the input/output dropdowns user panel */
[class*="buttons"] [role="switch"] {
  border-radius: var(--radius-sm);
  ~ button:not([aria-label="User Settings"]) {
    display: none;
  }
}

/* Hide typing dots in chat bar */
[class*="ellipsis"] {
  display: none !important;
  & + span {
    margin-left: 1px !important;
  }
}


/* Plain Folder Icon Size Pastel */
.expandedFolderIconWrapper__48112::after,
.folderPreview__48112::after {
  content: "";
  background-color: transparent;
  width: 24px;
  height: 24px;
  top: 60px;
  right: 12px;
  position: absolute;
  transition: opacity 0.2s ease;
  transform: scale(1.2);
}
.folderPreview__48112:hover::after {
  opacity: 0;
}
.folderPreview__48112 > .folderPreviewGuildIcon__48112 {
  opacity: 0.5;
  filter: blur(2.2px);
  transition: opacity 0.2s ease, filter 0.2s ease !important;
}
.folderPreview__48112:hover > .folderPreviewGuildIcon__48112 {
  opacity: 1;
  filter: blur(0px);
}
.theme-dark .hiddenVisually_b18fe2[aria-expanded="false"] {
  background-color: #000000;
}


/* Better Compact Context Menu */
/* ===== MINI CONTEXT MENU ===== */
[role="menu"] > [class*="scroller"] {
  /* the higher the number, the greater the indentation from the edges of the menu */
    margin: -7px;
}
[role="menuitem"] {
    min-height: 24px !important; /* buttons size */
    padding: 4px 8px !important; /* padding between buttons */
    font-size: 14px;
    white-space: nowrap;
}
[role="menuitem"] [class*="iconContainer"] {
    min-width: 20px;
    margin-left: 5px;
}


/* indents between separators */
[role="menu"] [role="separator"] {
    margin: 1px 6px !important;
}

/*   emoji part   */
[role="menu"] [class*="f563df"][class*="wrapper"] {
    display: none !important;
}

/* centralization of emoji */
/* [class*="f563df"][class*="wrapper"] {
    padding: 0 !important;
    margin: 1px;
} */
/* [class*="f563df"][class*="button"] {
    width: 0px;
    height: 28px;
    border-radius: 4px;
} */
/*  emojis size  */
/* [class*="f563df"][class*="icon"] {
    width: 16px;
    height: 16px;
} */


/* Remove 3 emoji reactions */
.hoverBarButton_f84418[aria-label^="Click to"],
.separator_f84418 {
  display: none;
}

/* Fix Voice by Moon */
.voiceChannelHighlightContainer_c69b6d {
    .voiceChannelHighlightBorder_c69b6d {
        width: 4px !important;
        border-radius: 8px;
        inset-inline-start: 20px;
        top: 34px;
        bottom: 10px;
        box-shadow: 0 0 12px color-mix(in srgb, var(--icon-feedback-positive) 50%, transparent 50%);
        transition: box-shadow 0.3s;
    }
    &:hover .voiceChannelHighlightBorder_c69b6d {
        box-shadow: 0 0 12px color-mix(in srgb, var(--icon-feedback-positive) 100%, transparent 0%);
        transition: box-shadow 0.3s;
    }
    .voiceChannelHighlightGlow_c69b6d {
        background: none;
    }
}

/* fix server boost tap */
[class^=powerupContainer] {
    display: flex;
    > :not([class^=parentContainer]) { display: none; }
}

/* Remove annoying gaps between buttons (vc, text inputs, Emojis) */
div[class^="buttons"] {
  gap: 0!important;
}

/*---===< CHANNEL SELECTOR FADE AND HIGHLIGHTED ICONS by Soul >===---*/
.containerDefault_c69b6d.selected_c69b6d .link__2ea32 {
  background: var(--chs-channel-selected);
  border-radius: 8px;
  margin-left: 5px;
}
.modeUnreadImportant__2ea32 .icon__2ea32,
.containerDefault_c69b6d.selected_c69b6d .icon__2ea32,
.containerDefault_c69b6d:hover .icon__2ea32 {
  color: var(--chs-icon-hover) !important;
}

/* channel spacing */
.wrapper__2ea32 {
  padding-block: var(--chs-channel-spacing);
}

/* channel size*/
.link__2ea32,
#channels>ul>li.container__5b40b>ul>li>div>div {
  padding-block: var(--chs-channel-size);
}

/* channel icon scale */
.iconContainer__2ea32>svg[role="img"] {
  scale: var(--chs-icon-scale);
}

/* shift category labels left*/
.wrapper__29444 {
  padding-left: 8px !important;
}

/* dim channel name when collapsed */
.mainContent__29444[aria-expanded="false"] {
  opacity: 50% !important;
}

/* rainbow Thread */
ul[class^=content_] > li[class^=container_] > ul[role=group] {
  
  > div[class^=spineBorder_] {
    --step: calc(var(--channels-name-line-height) + 10px);
    background: var(--thread-spine, repeating-linear-gradient(
      #d77891 calc(var(--step) * 0),
      #d77891 calc(var(--step) * 1),
      #eda27a calc(var(--step) * 1),
      #eda27a calc(var(--step) * 2),
      #deb783 calc(var(--step) * 2),
      #deb783 calc(var(--step) * 3),
      #8ec08a calc(var(--step) * 3),
      #8ec08a calc(var(--step) * 4),
      #7da3ef calc(var(--step) * 4),
      #7da3ef calc(var(--step) * 5),
      #b28dec calc(var(--step) * 5),
      #b28dec calc(var(--step) * 6)
    ));
  }

  > li:nth-of-type(6n + 1) {
    --channels-default: var(--thread-default, rgba(215, 120, 145, 0.7));
    --interactive-text-hover: var(--thread-default, #d77891);
    --interactive-text-active: var(--thread-default, #d77891);
    --text-strong: var(--thread-default, #d77891);
    --text-default: var(--thread-core, #d77891);
    --text-muted: var(--thread-muted, #d77891);
    --spine-default: var(--thread-spine, #d77891);
  }

  > li:nth-of-type(6n + 2) {
    --channels-default: var(--thread-default, rgba(237, 162, 122, 0.7));
    --interactive-text-hover: var(--thread-default, #eda27a);
    --interactive-text-active: var(--thread-default, #eda27a);
    --text-strong: var(--thread-default, #eda27a);
    --text-default: var(--thread-core, #eda27a);
    --text-muted: var(--thread-muted, #eda27a);
    --spine-default: var(--thread-spine, #eda27a);
  }

  > li:nth-of-type(6n + 3) {
    --channels-default: var(--thread-default, rgba(222, 183, 131, 0.7));
    --interactive-text-hover: var(--thread-default, #deb783);
    --interactive-text-active: var(--thread-default, #deb783);
    --text-strong: var(--thread-default, #deb783);
    --text-default: var(--thread-core, #deb783);
    --text-muted: var(--thread-muted, #deb783);
    --spine-default: var(--thread-spine, #deb783);
  }

  > li:nth-of-type(6n + 4) {
    --channels-default: var(--thread-default, rgba(142, 192, 138, 0.7));
    --interactive-text-hover: var(--thread-default, #8ec08a);
    --interactive-text-active: var(--thread-default, #8ec08a);
    --text-strong: var(--thread-default, #8ec08a);
    --text-default: var(--thread-core, #8ec08a);
    --text-muted: var(--thread-muted, #8ec08a);
    --spine-default: var(--thread-spine, #8ec08a);
  }

  > li:nth-of-type(6n + 5) {
    --channels-default: var(--thread-default, rgba(125, 163, 239, 0.7));
    --interactive-text-hover: var(--thread-default, #7da3ef);
    --interactive-text-active: var(--thread-default, #7da3ef);
    --text-strong: var(--thread-default, #7da3ef);
    --text-default: var(--thread-core, #7da3ef);
    --text-muted: var(--thread-muted, #7da3ef);
    --spine-default: var(--thread-spine, #7da3ef);
  }

  > li:nth-of-type(6n + 6) {
    --channels-default: var(--thread-default, rgba(178, 141, 236, 0.7));
    --interactive-text-hover: var(--thread-default, #b28dec);
    --interactive-text-active: var(--thread-default, #b28dec);
    --text-strong: var(--thread-default, #b28dec);
    --text-default: var(--thread-core, #b28dec);
    --text-muted: var(--thread-muted, #b28dec);
    --spine-default: var(--thread-spine, #b28dec);
  }

  li:only-of-type {
    --channels-default: var(--thread-default, rgba(215, 120, 145, 0.7));
    --interactive-text-hover: var(--thread-default, #d77891);
    --interactive-text-active: var(--thread-default, #d77891);
    --text-strong: var(--thread-default, #d77891);
    --text-default: var(--thread-core, #d77891);
    --text-muted: var(--thread-muted, #d77891);
    --spine-default: var(--thread-spine, #d77891);
  }
}

/* spotify fancy */
#vc-spotify-player {
    --blur-amount: 4px; 
    --normal-bg-colour: var(--bg-overlay-floating, var(--background-base-low, var(--background-secondary-alt)));

    position: relative;
    background: linear-gradient(to bottom, transparent 0%, var(--normal-bg-colour) 100%) !important;
    overflow: hidden;
    transition: all 0.4s ease-out;
    > * {
      filter: drop-shadow(0 0 10px var(--normal-bg-colour));
    }
}
#vc-spotify-player:hover {
    --blur-amount: 0px;
}
#vc-spotify-player::before,
#vc-spotify-player::after {
    z-index: -1;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out;
}
#vc-spotify-player::before {
    background: var(--vc-spotify-track-image);
    background-position: center top; 
    background-size: cover; 
    opacity: 0.5;
}
#vc-spotify-player:hover::before {
    opacity: 0.7;
}
#vc-spotify-player::after {
    backdrop-filter: blur(var(--blur-amount));
}
#vc-spotify-progress-bar > [class^="slider_"] > [class^="bar_"] > [class^="barFill_"] {
    background-color: white !important;
    background: var(--vc-spotify-track-image);
    background-size: 1px 100%;
}
#vc-spotify-progress-bar > [class^="slider_"] > [class^="bar_"] > [class^="barFill_"]::before {
    content: "";
    position: fixed;
    height: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    border-radius: 4px 0 0 4px;
    backdrop-filter: blur(10px) saturate(4) brightness(1.6);
}


/* Header */
.clickable__9293f {
  background-color: transparent;
  border: 1px solid;
  border-radius: var(--radius-sm);
  border-color: transparent;
  color: var(--control-icon-only-icon-default);
  min-width: var(--space-32);
  min-height: var(--space-32);
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-icon-only-background-hover);
    border-color: var(--control-icon-only-border-hover);
    color: var(--control-icon-only-icon-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-icon-only-background-active);
    border-color: var(--control-icon-only-border-active);
    color: var(--control-icon-only-icon-active);
  }
  &.selected__9293f {
    background-color: var(--control-secondary-background-default);
    border-color: var(--control-secondary-border-default);
    color: var(--control-secondary-text-default);
  }
  &.selected__9293f:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover);
  }
  &.selected__9293f:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
  }
  svg {
    color: currentColor !important;
  }
}
.iconBadge__9293f {
  background-color: var(--background-brand);
}
.iconBadgeBottom__9293f {
  bottom: 5px;
  right: 5px;
}


/* Mana Friend List Sources */
.peopleColumn__133bf {
  flex: 1 1 50%;
}

.blockedIgnoredSettingsNotice__6811a {
  background: var(--background-feedback-info);
  border: 1px solid var(--icon-feedback-info);
  border-radius: var(--radius-sm);
  color: var(--text-feedback-info);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
  margin: var(--space-md) calc(var(--space-md) * 2) 0 var(--space-md);
  padding: 8px;
  path {
    fill: currentColor;
  }
}
.closeButton__9536c {
  align-items: center;
  background-color: var(--control-overlay-primary-background-default);
  border: 1px solid var(--control-overlay-primary-border-default);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  color: var(--control-overlay-primary-icon-default) !important;
  cursor: pointer;
  display: flex;
  height: unset;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  transition: 50ms ease;
  width: unset;
  &:hover {
    background-color: var(--control-overlay-primary-background-hover);
    border-color: var(--control-overlay-primary-border-hover);
    color: var(--control-overlay-primary-icon-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-overlay-primary-background-active);
    border-color: var(--control-overlay-primary-border-active);
    color: var(--control-overlay-primary-icon-active);
  }
  svg {
    width: 16px;
    height: 16px;
  }
  path {
    d: path("M19.3 20.7a1 1 0 0 0 1.4-1.4L13.42 12l7.3-7.3a1 1 0 0 0-1.42-1.4L12 10.58l-7.3-7.3a1 1 0 0 0-1.4 1.42L10.58 12l-7.3 7.3a1 1 0 1 0 1.42 1.4L12 13.42l7.3 7.3Z");
    fill: currentColor !important;
  }
}

.searchBar__5ec2f {
  margin: var(--space-md) var(--space-md) 0;
  position: relative;
  .container__5a838 {
    margin-inline-end: var(--space-md);
  }
}
.peopleList__5ec2f {
  mask: linear-gradient(180deg, transparent, black var(--space-20));
  &::-webkit-scrollbar-track {
    margin-top: var(--space-20);
  }
}
.title__1472a {
  margin-inline: var(--space-xl);
}
.divider_cc6179 {
  margin-inline: var(--space-xl);
  transition: background-color .2s ease;
}
.peopleListItem_cc6179 {
  border-radius: var(--radius-sm);
  transition: background-color .2s ease, outline-color .2s ease !important;
  margin-inline: var(--space-sm);
  padding: 0 var(--space-sm);
  outline: 1px solid transparent;
  &:hover {
    background: var(--background-surface-high);
    outline-color: var(--border-normal);
  }
  &.active_cc6179 {
    background: var(--background-surface-higher);
    outline-color: var(--border-normal);
  }
}
.userInfo__0a06e {
  align-items: center;
  gap: var(--space-sm);
}
.avatar__0a06e {
  margin: unset;
}
.subtext__0a06e {
  line-height: 1.2;
}
.text__0a06e .icon_c9d15c, .text__0a06e .emoji {
  height: 12px;
  vertical-align: middle;
  width: 12px;
}
.text__19b6d, .statusText__19b6d {
  font-size: 12px;
}
.actions_fc004c {
  gap: var(--space-8);
}
.actionButton_f8fa06.actionButton_f8fa06 {
  background-color: var(--control-secondary-background-default);
  border: 1px solid;
  border-color: var(--control-secondary-border-default);
  border-radius: var(--radius-sm);
  color: var(--control-secondary-text-default);
  height: unset;
  min-width: var(--space-32);
  min-height: var(--space-32);
  transition: 50ms ease;
  width: unset;
  &:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
  }
  &.actionAccept_f8fa06 {
    background-color: var(--control-connected-background-default);
    border-color: var(--control-connected-border-default);
    color: var(--control-connected-text-default);
  }
  &.actionAccept_f8fa06:hover {
    background-color: var(--control-connected-background-hover);
    border-color: var(--control-connected-border-hover);
    color: var(--control-connected-text-hover);
  }
  &.actionAccept_f8fa06:active {
    background-color: var(--control-connected-background-active);
    border-color: var(--control-connected-border-active);
    color: var(--control-connected-text-active);
  }
  svg {
    height: 16px;
    width: 16px;
  }
}
